apiVersion: v1
kind: Secret
metadata:
  name: mssql-secret
  namespace: product-management
type: Opaque
data:
  # Base64 encoded password (e.g. echo -n 'YourPassword' | base64)
  SA_PASSWORD: <BASE64_ENCODED_PASSWORD_HERE>
